<footer class="bg-black p-4 mt-8">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white-cream font-bold text-lg">
        Pokédex
    </div>
    <div class="space-x-4">
        <a href="#clases" class="text-white-cream hover:text-white">
            Aviso legal
        </a>
    <a href="#contacto" class="text-white-cream hover:text-white">
            Politica de privacidad
    </a>
    <a href="#formacion" class="text-white-cream hover:text-white">
            Politica de Cookies
    </a>
    </div>
    </div>
    <div class="container mx-auto text-white-cream">
            C/ calle barcelona 24,<br />
            Barcelona 08951
    </div>
    <div class="container mx-auto text-center text-white-cream">
        <hr class="border-white-cream"/>
        <p>&copy; 2024 VEGA. Todos los derechos reservados.</p>
    </div>
</footer>